@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
	font-family: Lato, "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 90%;
	}


h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1em;
}

p {
	line-height: 2;
	color:gray;
}


h1 {
	font-size:58px;
	color: #C00;
	display: inline-block;
}


h2 {
	font-size: 24pt;
	display: inline-block;
	color: #AAAAAA;
}

h3 {
	font-size:24pt;
	color: black;
	margin-top:-15px;
}

h4 {
	font-size: 16pt;
	font-weight: bold;
	color:gray;
}


h5 {
	color:red;
	font-size: 1.26em;
	font-weight: bold;
}


a {
	color:white;
	text-decoration: none;
	width:100px;
}

.column {
	float:left;
	width:15%;
	background-color: black;
	margin:1px;
	padding-top: 15px;
	padding-bottom:15px;
	font-size: 19pt;
	text-align: center;
	color: white;

}

.left {
	float:left;
	width: 60%;
}

.right {
	float:right;
	width: 30%;
	padding-right: 3%;
}

.first-letter {
	font-size: 4em;
	float:left;
	color:gray;
	margin-right: 10px;
}

/*
.ad {
	background-color: #CCC;
	height: 250px;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	font-family: "MS Serif", "New York", serif;
	font-size: 36pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-top: 125px;
}



hr {
	clear:both;
	
}
*/


It does seem that the person is part of Ops, Investor, Treasury or Risk given their references to feedback from agents, feeling like a number, and concern about recent departures (maybe Darin or Chaomei).

Bartek

