@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1em;
}


h1 {
	font-size:48px;
	color: #C00;
	display: inline-block;
}


h2 {
	font-size: 24pt;
	display: inline-block;
	color: #AAAAAA;
	margin-left: 10px;
}

h3 {
	font-size:24pt;
	color: #AAAAAA;
}



.column {
	float:left;
	width:16.5%;
	background-color: black;
	margin:1px;
	padding-top: 10px;
	padding-bottom:10px;
}

.top-nav-bar {
	font-size: 19pt;
	margin: 2px 2px 2px 2px;
	display:block;
	text-align: center;
	text-decoration: none;
	color: white;
	border:10px;
}




nav {
	text-align: left;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display:inline-block;
}	

nav li {
	float: left;
}



a {
	color:white;
	text-decoration: none;
}

.left {
	float:left;
	width: 60%;
}

.right {
	float:right;
	width: 30%;
	padding-right: 3%;
}

p {
	font-style: lato;
}

